services:
    
    mongodb:
        image: mongodb/mongodb-community-server:latest
        container_name: mongodb
        restart: unless-stopped
        ports:
            - "27017:27017"
        volumes:
            - mongodb:/data/db 
        environment:
            MONGO_INITDB_ROOT_USERNAME: reist
            MONGO_INITDB_ROOT_PASSWORD: password1234

volumes:
    mongodb:

# docker-compose down --volumes --rmi all
 
networks:
  app-network:
    driver: bridge